@import "tailwindcss";

@theme {
  --color-primary:#1c4364;
  --font-poppins: "Poppins", sans-serif;


}

@layer base {
  html {
    font-family: var(--font-poppins); /* Aplica Poppins a toda la página */
  }
}

